{{#each rows}}
<div class="client-header-row">
    <input type="text" class="form-control form-control-sm" data-bind="headers.{{key}}.name" placeholder="Header name">
    <input type="text" class="form-control form-control-sm" data-bind="headers.{{key}}.value" placeholder="Value">
    <button class="action-btn action-btn-danger client-remove-header"
            data-on:click="@post('{{{basePath}}}headers/remove/{{index}}')">×
    </button>
</div>
{{/each}}
{{#if showAdd}}
<button class="action-btn client-add-header"
        data-on:click="@post('{{{basePath}}}headers/add')">+ Add Header
</button>
{{/if}}
